#version: '3.8'

services:
  r-waf:
    build:
      context: .
      dockerfile: Dockerfile.rwaf
    volumes:
      - ./r_waf/:/app/
    ports:
      #- "5000:5000"
      - "1337:1337"
    environment:
      - PYTHONUNBUFFERED=1
      - R_WAF_API_KEY=incrustwerush.org
      - ENABLE_DASHBOARD=true
      - DASHBOARD_PORT=1337

  openresty:
    #image: openresty/openresty:alpine
    build:
      context: .
      dockerfile: Dockerfile.openresty
    environment:
      - WEB_SERVER_HOST=example.com # Your host here
      - WEB_SERVER_PORT=80 # Your port here
    depends_on:
      - r-waf
    ports:
      - "80:80"
    volumes:
      #- ./nginx/nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf:ro
      - ./nginx/lua:/etc/nginx/lua:ro
      #- ./www:/www
